html, body {
  background-color: #eee;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.8em;
}

.header {
  height: .5em;
  background:rgb(28, 135, 177);
}

.top-bar ul, .top-bar li{
  list-style: none;
}

.action-group a{
  text-decoration: none;
}

.action-group a.active{
  color: rgb(28, 135, 177);
  text-decoration: underline;
}


.footer {

}

.container {
  margin: 1em auto;
  max-width: 760px;
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 760px;
  }
}

.input, .input:active, .text, .text:active {
  border: none;
  background: none;
  outline: none;
  border-bottom: 3px solid rgb(28, 135, 177);
  font: 1.2em;
  line-height: 1.5em;
  padding: 0 .4em;
}

.text, .text:active{
  border: 3px solid rgb(28, 135, 177);
}

.box{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.inline-box{
  display: inline-flex;
}

.item {
  flex-grow: 1;
}
.input-group {
  margin: 1em;
}
.input-group .label{
  text-align: right;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.6em;
  height: 1.6em;
  width: 20%;
  padding-right: .5em;
}
.input-group .input {
  width: 76%;
  display: block;
}

.margin-top-2 {
  margin-top: 4em;
}

.title {
  text-indent: 1em;
  line-height: 2em;
}

.title-line {
  background-color: #eff;
  height: .5em;
}

.btn {
  height: 2em;
  line-height: 2em;
  font-size: 1.2em;
  padding: 0 1em;
}